/* Estilos gerais do corpo */
body {
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabeçalho */
.App-header {
  background-color: #387c5c;
  padding: 20px;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: darkred;
}

/* Layout principal */
.main-content {
  display: flex;
  width: 100%;
}

/* Barra lateral */
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f9;
  border-right: 1px solid #ddd;
}

/* Estilo geral do botão */
.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  border: none;
  background-color: #f4f4f4; /* Cor padrão do botão */
  color: #333; /* Cor padrão do texto */
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo ao passar o mouse */
.sidebar button:hover {
  background-color: #ddd;
}

/* Botão selecionado */
.sidebar button.selected {
  background-color: #4CAF50; /* Cor de destaque (verde) */
  color: white; /* Cor do texto para contraste */
  font-weight: bold;
}

.sidebar button {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #dcc9dc;
  color: black;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.sidebar button.selected {
  background-color: #387c5c;
  color: white;
  font-weight: bold;
}

.sidebar button:hover {
  background-color: #4b8263;
}

/* Container de conteúdo */
.content {
  flex: 1;
  padding: 20px;
}

/* Botões de ação */
.button-container {
  display: flex;
  justify-content: flex-end; /* Alinha à direita */
  align-items: center; /* Centraliza os botões verticalmente */
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 10px; /* Espaçamento do botão "Sair" */
  position: absolute;
  top: 110px; /* Ajusta a altura logo abaixo do botão "Sair" */
  right: 0px; /* Mantém alinhado à direita */
}

.button-container button {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #387c5c;
  color: white;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #4CAF50; /* Efeito ao passar o mouse */
}

/* Container de dados da planilha */
.sheet-data-container {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f8f4f4;
  margin-top: 20px;
}

table {
  width: 100%;
  table-layout: auto; /* Deixe as colunas se ajustarem ao conteúdo */
  border-collapse: collapse;
}

/* Estilo das colunas de dados */
th, td {
  padding: 16px; /* Aumentando o padding para mais espaço dentro das células */
  text-align: left;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
  word-wrap: break-word; /* Permite quebra de linha */
  white-space: normal; /* Permite quebra de linha */
}

/* Ajustando o tamanho das colunas no cabeçalho */
th {
  background-color: #387c5c;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px;
  white-space: nowrap; /* Impede que o texto quebre */
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resize-handle {
  width: 5px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Tooltip para mostrar texto completo ao passar o mouse */
th:hover::after {
  content: attr(data-fullname); /* Usa o atributo data-fullname para o texto completo */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  pointer-events: none;
  z-index: 10;
}

/* Tooltip para mostrar texto completo ao passar o mouse nas células */
td:hover::after {
  content: attr(data-fulltext); /* Usa o atributo data-fulltext para o texto completo */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  pointer-events: none;
  z-index: 10;
}

/* Estilos das células de dados */
td {
  min-width: 250px; /* Aumentando a largura mínima das células */
  padding: 16px; /* Aumentando o padding das células */
  text-align: left;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Estilos dos campos de entrada */
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: box-shadow 0.7s ease;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border-color: #4a90e2;
}

/* Estilos para o botão de excluir */
.btn.excluir {
  background-color: #f44336; /* Vermelho para o botão de excluir */
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.excluir:hover {
  background-color: #e53935; 
  transform: scale(1.05);
}
